header{
  position: fixed;
  height: 70px;
  width: 90%;
  padding: 5px 5%;
  background-color: rgba(0,0,0,0.7);
}

body {
  margin: 0;
  background-image: url(glogin-back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

.header-design img{
  float: left;
  margin-top: 10px;
  height: 50px;
}

.header-design a {
  color: rgba(0,0,0,0.6);
}

.login {
  font-size: 10px;
  background-color: white;
  padding: 2px 15px;
  margin: 6px;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  font-weight: 100;
}

.btn-login {
  margin-left: 60px;
}

span {
  font-size: 10px;
  color: white;
}

form {
  float: right;
  height: 70px;
}

form input {
  font-size: 12px;
  height: 18px;
  width: 150px;
  padding: 0px 15px;
  margin: 6px 0px;
  border-radius: 5px;
}

ul {
  padding: 0;
  margin: 0; 
  display: inline-block;
}

li {
  height: 32px;
}

label input {
  width: 10px;
  height: 12px;
  margin: 0 0 10px 30px;
}

.top-text {
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main {
  padding: 100px 0 60px 0;
  color: white;
  text-align: center;
}

.main h1 {
  font-size: 45px;
  letter-spacing: 5px;
  width: 100%;
}

.main p {
  font-size: 14px;
  width: 100%;
}

.main img {
  height: 100px;
}

.signup {
  padding: 8px 24px;
  background-color: #239b76;
  float: center;
}

.facebook {
  padding: 8px 24px;
  background-color: #3b5998;
  margin-right: 15px;
}

.twitter { 
  padding: 8px 24px;
  background-color: #55acee;
}

.btn {
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  position: center;
}

.btn:hover {
  opacity: 0.5;
}

