html,body,.main {
  display: block;
  margin: 0;
  font-family: nicomoji;
}

/* ヘッダー */

header{
  position: fixed;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 2px #666,0 0 8px #222;
}

.header-design {
  height: 60px;
  padding: 5px 0;
  background-color: #000080;
}

.header-design img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-top: 5px;
}


/* メイン */


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

a:link,
a:visited,
a:active {
  font-weight: 600;
  color: #000;
  text-decoration: none; }


  /*a:link:hover,*/
/*  a:visited:hover,*/
 /* a:active:hover */
 #categories-ul li:hover{
    background-color: #ff7f50;
    color:#fff;
   /* -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; */}

/* =========================

		DRIBBBLE FEED 

   =========================*/

@media only screen and (max-width: 1000px) {
      ul.slides li {
        width: 33%; } }
    @media only screen and (max-width: 767px) {
      ul.slides li {
        width: 50%; } }
    ul.slides li a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      ul.slides li a:hover .d-hover {
        display: block; }
      ul.slides li a img {
        width: 100%; }
      ul.slides li a p {
        display: none; }

/* =========================

      投稿画面

   =========================*/

.zentai{
   width:100%;
   padding-top:70px;
}

.ddd {
  width: 960px;
  margin: 30px auto;
}

.toko-menu{
    height:60px;
    background-color: #f5f5f5;

}

.toko-menu-in{
  padding-top:10px;
  padding-bottom:10px;
  margin: 10px;
  padding: 10px 0;
  width:940px;
  height:60px;
}

.toko-menu-categories {
  float:left;
    z-index: -1;
      background-color: #fff;
    border-radius: 2px;
    border:1px solid #d3d3d3;
     color:#000;
     font-size: 15px;
  }
    option {
    font-weight: normal;
    display: block;
    padding: 0px 2px 1px;
    white-space: pre;
    min-height: 1.2em;
}

.toko-menu-edit {
    float: right;
    width: 420px;
    margin: 0;
}

.edit-btn{
    display: block;
    float: right;
    width: 100px;
    height: 35px;
    line-height: 37px;
    margin: 0 0 0 5px;
    font-size: 13px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border:1px solid #d3d3d3;
    color:#808080;
    padding-top: 0;
}

.edit-btn:hover{
  background-color:#d3d3d3;
}

  .kari-col-md-12{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}


.toko-main{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width:960px;
    height:165px;
    margin-top:20px;
    
    display: -webkit-inline-box;

}

.toko-image {
    display: block;
    width: 160px;
}

.toko-image img{
  vertical-align: bottom;
}


.toko-text{
    width: 785px;
    height:165px;
    border-radius: 2px;
    margin-left: 15px;
}

.toko-text input{
    padding: 10px;
    font-size: 20px;
    height: 45px;
    width:100%;
    line-height: 45px;
    border-radius: 2px;
    border:1px solid #d3d3d3;
}

.toko-text textarea{
    width: 100%;
    height: 100px;
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
    border:1px solid #d3d3d3;
    height:100px;
}

.toko-text-p{
    float: right;
    right: 0;
    color: #000;
    font-size: 12px;
    margin-top: 5px;
}

.file-main{
  margin-top: 5px;
  margin-right:auto; 
  margin-left:auto;
}

.file-button{
  float: left;
  width:230px;
  height:18px;
  max-width: 230px;
  color:#000;
  font-size: 12px;

}

#file-button-input{
display: inline-flex;
}


.file-settei{
  float: left;
}

#file-settei-input{
  width:70px;
  height:20px;
  margin-right: 10px;
  font-size: 12px;
  background-color:#f5f5f5;
  border:solid 1px #dcdcdc;
  line-height: normal;
}


.edit-main{
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    cursor: pointer;
}

.edit-out{
    margin-top: 20px;
    border: 1px solid #e7e7e7;
}

.editmemu{
    outline: 0;
    font-weight: 400;
    font-variant: normal;
    background: 0 0;
    line-height: 1.0px; 
}



/*ul*/
.edit-tool{
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e7e7e7;
    width:958px;
    height:50px;
    font-size: 12px;
    outline: 0;
    font-weight: 400;
    font-variant: normal;

      display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/*li*/
.edit-tool-text{
     float: left;
     width:71px;
     height:49px;
     
     
}
.edit-tool-image{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
    
}
.edit-tool-quote{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-headline{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-link{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-twitter{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-product{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-spot{
     float: left;
     width:71px;
     height:49px;
     border-left:#fff solid 1px;
}
.edit-tool-movie{
     float: left;
     width:71px;
     height:49px;
     border-right:#fff solid 1px;
}

.edit-tool i{
  font-size:20px;
  margin-top:7px;
  color:#696969;


}

.edit-tool p{
font-size:10px;
color:#696969;
}


.edit-tool li:hover{
  background-color:#dcdcdc;
  cursor: pointer;
}

.edit-tool-text a:visited{
    color: #666;
    text-decoration: none;
}
.edit-tool-text a:link{
    color: #666;
    text-decoration: none;
}

.new_item{
    padding: 20px;
    background-color:#f5f5f5;
    background-color: #fff;
    width:958px;
    height:40px;
}


li{
  list-style:none;
}


/*メッセージ*/
.top-text{
  padding-top: 15%;
  color: white;
  text-align: center;
  
}

.container{
  margin: 0 auto;
}

.main h1{
  font-size: 45px;
  letter-spacing: 5px;
}

.main p{
  font-size: 14px;

}

.main img{
  height: 100px;
}

.signup{
  padding: 8px 24px;
  background-color: #239b76;
  float: center;
  margin-top: 15px;
}


form {
  float: center;
}

.touroku {
  float: center;
}

dt {
  color: white;
}

dd {
  margin: 0;
}

.btn-signup {
  padding: 8px 24px;
  background-color: #239b76;
  float: center;
}
