html,body,.main {
	height: 100%;
	display: block;
	margin: 0;
	background-color: #7fbfff;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

header{
	position: fixed;
	height: 60px;
	width: 100%;
	box-shadow: 0 0 2px #666,0 0 8px #222;
}

.header-design {
	height: 50px;
	padding: 5px 0;
	background-color: #000080;
}

.header-design img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	margin-top: 5px;
}

/* 検索 */
.header-design .search {
	height: 210px;
	opacity: 0.6;
}

/* 中身 */

.main {
	width: 100%;
}

/* サイドバー */

.sidebar {
	position: fixed;
	height:100%;
	width: 230px;
	margin-top: 60px;
	float: left;
	padding: 0;
	background-color: white;
	box-shadow: 0 2px 0 #666,0 0 8px #222;
}

.sidebar .profile-icon {
	height: 70px;
	width: 70px;
	margin: 20px 0 0 85px;
}

.sidebar li p{
	font-size: 12px;
	color: gray;
}

.sidebar img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.sidebar .profile ul {
	margin: 0 10px;
	width: 190px;
	height: 54px;
	list-style: none;
	padding: 10px;
	display: inline-block;
}

.sidebar .profile li {
	height: 32px;
	text-align: center;
}

.sidebar .profile h4 {
	margin: 0;
}

/* フォロー・フォロワー */

.follow {
	margin: 0 10px 0 10px;
	padding-top: 5px;
	border-top: solid 1px #EAEAEA;
	border-bottom: solid 1px #EAEAEA;
}

.f-f {
	display: inline-block;
	width: 210px;
}

.f-f .following:hover {
	opacity: 0.7;
}

.f-f .follower:hover {
	opacity: 0.7;
}

.f-f h4 {
	margin: 0;
	color: #000080;
}

.f-f p {
	font-size: 12px;
	color: #000080;
}

.following {
	text-align: center;
	width: 104px;
	border-right: solid 1px #EAEAEA;
	display: inline-block;
	float: left;
}

.follower {
	text-align: center;
	width: 105px;
	display: inline-block;
	float: left;
}

/* カテゴリ */
.category {
	margin: 0 10px 0 20px;
	padding-top: 5px;	
}

.category h4 {
	margin: 10px 0;
}

.category-top {
	margin: 10px 10px 0 10px;
	border-bottom: solid 1px #EAEAEA;
}

.category-top p {
	padding: 8px 0;
}

.game {
	margin-left: 0;
	border-top: solid 1px #EAEAEA;
	border-bottom: solid 1px #EAEAEA;
}

.map {
	margin-left: 0;
	border-bottom: solid 1px #EAEAEA;
}

.everyday {
	margin-left: 0;
	border-bottom: solid 1px #EAEAEA;
}

.study {
	margin-left: 0;
	border-bottom: solid 1px #EAEAEA;
}



/* メインコンテンツ */
.adds {
	height: 280px;
	width: 100%;
}

.main-contents {
	height: 280px;
	width: 70%;
	border-right: 1px;
	border-color: white;
	float: left;
	background-image: url("../../AppSNS/image/blue-back.png");
	background-size: cover;
}

.main-contents img {
	width: 40%;
	margin: 40px 30%;
}

.sub-contents1 {
	height: 139px;
	width: 30%;
	background-color: white;
	border-bottom: 1px;
	border-color: white;
	float: left;
}

.sub-contents2 {
	height: 140px;
	width: 30%;
	background-color: blue;
	float: left;
}

.sub-contents1 img {
	height: 139px;
	width: 100%;
}

.sub-contents2 img {
	height: 139px;
	width: 100%;
}

/* コンテンツ */

.appli-article {
	height: 1000px;
	border: 1px;
	border-color: black;
}


.contents {
	height: 600px;
	width: 78%;
	float: left;
	margin-top: 60px;
	padding: 0 0 5% 230px;
}

.contents h3 {
	margin: 20px 30px 20px 30px;
}

.contents ul {
	margin-right: 0;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
	height: 70px;
}

.contents li.application {
	vertical-align: top;
	height: 390px;
	width: 280px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: white;
}

/* 記事 */

li .appli-image {
	height: 150px;
}

li .appli-image img {
	height: 150px;
	width: 280px;
}

li .under {
	height: 275px;
}

li .under p {
	font-size: 13px;
}

li .under .comment img {
	border-radius: 50%;
	float: left;
	height: 38px;
	width: 38px;
}

h3 {
	margin: 0 0 10px 0;
}

.comment ul {
	float: left;
	height: 38px;
	margin-bottom: 8px;
}

.comment li {
	margin-left: 10px;
}

.app-tc {
	height: 190px;
	margin: 5px 25px 10px 25px;
}

.app-tc h3 {
	margin: 10px 0;
}

.reason {
	width: 230px;
	height: 102px;
	padding-top: 3px;
	border-top: 2px solid #ddd;
	clear: left;
}

.creater-icon {
	margin-top: -35px;
	margin-left: 105px;
}

.creater-icon img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.contents .application {
	display: inline-block;
}

.border {
	border: 2px;
	border-color: black;
}