html,body,.main {
	height: 100%;
	display: block;
	margin: 0;
	background-color: #efefef;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

header{
	position: fixed;
	height: 50px;
	width: 90%;
	padding: 5px 5%;
	background-color: #87aaaa;
	box-shadow: 0 0 2px #666,0 0 8px #222;
}

.header-design img{
	position: absolute;
	text-align: center;
	height: 40px;
	margin: 5px 40% 0 40%;
}

.header-design a {
	color: rgba(0,0,0,0.6);
}

/* 検索 */

/* 中身 */

.main {
	width: 100%;
}

/* サイドバー */

.sidebar {
	position: fixed;
	height:100%;
	width: 210px;
	margin-top: 60px;
	float: left;
	padding: 0;
	background-color: white;
}

.sidebar .profile-icon {
	margin-bottom: 20px;
	height: 70px;
	width: 70px;
    margin: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar ul {
	height: 100%;
	list-style: none;
	width: 90%;
	padding: 5%;
	margin-bottom: 10px;
	display: inline-block;
}

.sidebar li {
	height: 32px;
	text-align: center;
}

.sidebar li p{
	font-size: 12px;
	color: gray;
}

.sidebar img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.follow {
	float: center;
}

.following {
}

.follower {
}

/* コンテンツ */

.contents {
	height: 600px;
	width: 78%;
	float: left;
	margin-top: 60px;
	padding: 0 0 5% 230px;
}

.contents #applist h1 {
	margin: 20px 30px 20px 30px;
}

.contents ul {
	margin-right: 0;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
	height: 70px;
}

.contents li.application {
	vertical-align: top;
	height: 370px;
	width: 280px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: white;
}

/* 記事 */

li .appli-image {
	height: 130px;
	background-color: gray;
}

li .under {
	height: 275px;
}

li .under p {
	font-size: 13px;
}

li .under .comment img {
	border-radius: 50%;
	float: left;
	height: 38px;
	width: 38px;
}

h3 {
	margin: 0 0 10px 0;
}

.comment ul {
	float: left;
	height: 38px;
	margin-bottom: 8px;
}

.comment li {
	margin-left: 10px;
}

.app-tc {
	height: 190px;
	margin: 5px 25px 10px 25px;
}

.reason {
	width: 230px;
	height: 102px;
	padding-top: 3px;
	border-top: 2px solid #ddd;
	clear: left;
}

.creater-icon {
	margin-top: -35px;
	margin-left: 105px;
}

.creater-icon img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.contents .application {
	display: inline-block;
}

.border {
	border: 2px;
	border-color: black;
}