html,body,.main {
	height: 100%;
	display: block;
	margin: 0;
	background-color: #efefef;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

header{
	position: fixed;
	height: 50px;
	width: 90%;
	padding: 5px 5%;
	background-color: #191970;
	box-shadow: 0 0 2px #666,0 0 8px #222;
}

.header-design img{
	position: absolute;
	text-align: center;
	height: 40px;
	margin: 5px 40% 0 40%;
}

.header-design a {
	color: rgba(0,0,0,0.6);
}

/* 検索 */

/* 中身 */

.main {
	width: 100%;
}

/* サイドバー */

.sidebar {
	position: fixed;
	height:100%;
	width: 230px;
	margin-top: 60px;
	float: left;
	padding: 0;
	background-color: white;
}

.sidebar .profile-icon {
	height: 70px;
	width: 70px;
	margin: 20px 0 10px 85px;
}

.sidebar li p{
	font-size: 12px;
	color: gray;
}

.sidebar img {
	border-radius: 50%;
	height: 70px;
	width: 70px;
}

.sidebar .profile ul {
	margin: 0 10px 0 10px;
	width: 190px;
	height: 100%;
	list-style: none;
	padding: 10px;
	display: inline-block;
}

.sidebar .profile li {
	height: 32px;
	text-align: center;
}

.sidebar .profile h4 {
	margin: 0;
}


/* フォロー・フォロワー */

.follow {
	margin: 0 10px 0 10px;
}

.f-f {
	display: inline-block;
	width: 210px;
}

.f-f .following:hover {
	opacity: 0.7;
}

.f-f .follower:hover {
	opacity: 0.7;
}

.f-f h4 {
	margin: 0;
	color: #000080;
}

.f-f p {
	font-size: 12px;
	color: #000080;
}

.following {
	text-align: center;
	width: 104px;
	border-right: solid 1px #EAEAEA;
	display: inline-block;
	float: left;
}

.follower {
	text-align: center;
	width: 105px;
	display: inline-block;
	float: left;
}

/* メインコンテンツ */
.adds {
	height: 280px;
	width: 100%;
}

.main-contents {
	height: 280px;
	width: 70%;
	background-color: #87cefa;
	border-right: 1px;
	border-color: white;
	float: left;
}

.sub-contents1 {
	height: 139px;
	width: 30%;
	background-color: white;
	border-bottom: 1px;
	border-color: white;
	float: left;
}

.sub-contents2 {
	height: 140px;
	width: 30%;
	background-color: blue;
	float: left;
}

/* コンテンツ */

.appli-article {
	height: 1000px;
}

.contents {
	height: 600px;
	width: 78%;
	float: left;
	margin-top: 60px;
	padding: 0 0 5% 230px;
}

.contents h3 {
	margin: 20px 30px 20px 30px;
}

.contents ul {
	margin-right: 0;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
	height: 70px;
}

.contents li.application {
	vertical-align: top;
	height: 370px;
	width: 280px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: white;
}

/* 記事 */

li .appli-image {
	height: 130px;
	background-color: gray;
}

li .under {
	height: 275px;
}

li .under p {
	font-size: 13px;
}

li .under .comment img {
	border-radius: 50%;
	float: left;
	height: 38px;
	width: 38px;
}

h3 {
	margin: 0 0 10px 0;
}

.comment ul {
	float: left;
	height: 38px;
	margin-bottom: 8px;
}

.comment li {
	margin-left: 10px;
}

.app-tc {
	height: 190px;
	margin: 5px 25px 10px 25px;
}

.reason {
	width: 230px;
	height: 102px;
	padding-top: 3px;
	border-top: 2px solid #ddd;
	clear: left;
}

.creater-icon {
	margin-top: -35px;
	margin-left: 105px;
}

.creater-icon img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.creater-icon img:hover {
	opacity: 0.8;
}

.contents .application {
	display: inline-block;
}

.border {
	border: 2px;
	border-color: black;
}