html,body,.main {
	height: 100%;
	display: block;
	margin: 0;
}

a {
	text-decoration: none;
}

html {
	margin: 0;
	background-image: url(../image/Shapes.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: block;
}

body {
	background-color: rgba(0,0,0,0.4);
}

header {
	position: fixed;
	height: 70px;
	width: 90%;
	padding: 5px 5%;
	background-color: rgba(0,0,0,0.6);
}

.header-design img {
	float: left;
	margin-top: 10px;
	height: 50px;
}

.header-design a {
	color: rgba(0,0,0,0.6);
}

.main {
	text-align: center;
}

.main p {
	color: white;
	font-size: 20px;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 40px;
}

h1 {
	height: 30%;
	margin: 0;
}

h1 img {
	margin-top: 15%;
	height: 200px;
}

h2 {
	height: 20%;
	float: center;
	font-size: 15px;
	margin-top: 0;
}

form {
	float: right;
	height: 70px;
}

form input {
	font-size: 12px;
	height: 18px;
	width: 150px;
	padding: 0px 15px;
	margin: 6px 0px;
	border-radius: 5px;
}

ul {
	padding: 0;
	margin: 0; 
	display: inline-block;
}

li {
	height: 32px;
}

label input {
	width: 10px;
	height: 12px;
	margin: 0 0 10px 30px;
}

span {
	font-size: 10px;
	color: white;
}

label {
	margin-bottom: 5px;
}

.btn-login {
	margin-left: 60px;
}

.login {
	font-size: 10px;
	background-color: white;
	padding: 2px 15px;
	margin: 6px 0px;
}

.general {
	background-color: rgba(85,172,238,0.9);
	float: center;
	position: center;
	padding: 4px 12px;
	margin: 4px 0px;
}

.programmer {
	background-color: rgba(85,172,238,0.9);
	float: center;
	position: center;
	padding: 4px 12px;
	margin: 4px 0px;
}

.btn {
	color: white;
	display: inline-block;
	opacity: 0.9;
	border-radius: 4px;
	font-weight: 100;
	margin-left: 5px;
	margin-right: 5px;
}

.btn:hover {
	opacity: 0.7;
}
